<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.MemberMapper">

    <select id="getMemberInfo" resultType="MemberDto">
        select * from member where email= #{email};
    </select>

<!--    <select id="searchMemberInfo" resultType="map">-->
<!--        select * from member where name like CONCAT('%', #{name}, '%');-->
<!--    </select>-->

    <insert id="createMember" parameterType="MemberDto" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" resultType="integer" order="BEFORE">
            SELECT MAX(id)+1 FROM member
        </selectKey>
        insert into member(kakao_token, nick_name) values (#{kakaoToken}, #{nickName})
    </insert>

</mapper>
